<!--
 * @Author: junw wo1261931780@gmail.com
 * @Date: 2023-07-27 18:43:48
 * @LastEditors: junw wo1261931780@gmail.com
 * @LastEditTime: 2023-07-28 16:02:38
 * @FilePath: \st-vue3\demo012.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo012页面</title>
</head>

<body>
    <div id="demo012">
        <p v-for="(item,index) in dataList">'我是'+{{ item }}+'数据'</p>
        <!-- 这里指的是当前遍历过程中涉及到的数据 -->
        <hr>
        <div v-for="(item,index) in dataList"> {{item}} - {{index}}</div>
        <!-- 这里两个变量都是可以用来循环的 -->
        <hr>
        <!-- 有的场景下，不需要展示index，就可以直接省略掉 -->
        <div v-for="(item) in dataList"> {{item}}</div>
        <!-- 更进一步，这里的括号都可以省略 -->
        <div v-for="item in dataList"> {{item}}</div>
    </div>

</body>
<script src="../vue.js"></script>

<script>
    const app = new Vue({
        el: '#demo012',
        data: {
            count: "111",
            dataList: [1, 2, 3, 4]
        }
    })
</script>

</html>